/*Main Content*/

.jumbotron{
    background:url(../images/books.jpg) repeat-x;

}

.jumbotron h1{
    color:#ffffff;
    padding-left:3%;
}

.jumbotron p{
    color:#ffffff;
    padding-left:3%;
}

.jumbotron a{
    color:#ffffff;
    text-decoration:none;
}

.jumbotron a:hover{
    color:red;
}

.search{
    padding-left:3%;
}

h2+img{
    max-width:75%;
}

.book-wrapper{
    background:darkslategrey;
    color:#ffffff;
    margin: 0 5%;
    padding-bottom:2%;
}