@charset "UTF-8";

/*-------------------- CSS Reset --------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------- Main Styling --------------------*/

body {
    background: #000000 url(../images/wood-pattern.jpg);
    max-width: 90%;
    font-size: 1em;
    margin: 0 auto;
}

#wrapper {
    background-color: #ffffff;
    width:91.666666666666%;
    height: auto;
    margin: 0 auto;
    padding-left: 2%;
    overflow: hidden;
}

header{
    font-family: 'Amatic SC', cursive;
    color: #990000;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    text-align:center;

}

h2 {
    font-family: 'Special Elite', cursive;
    color: #990000;
    padding:2% 0;
}

h2:hover{
    transform:skew(20deg, -2deg);
    transition: transform 2s;
}

h1+h2{
    text-align:center;
    font-size:1.5em;
    padding-top:0;
}

p{
    text-indent:4%;
}

article p:last-of-type, article p:nth-of-type(3), article p:nth-of-type(4){
    padding-bottom:2%;
}

nav {
    width: 100%;
    margin: 0 auto;
    float:left;
}

nav li {
    display: inline-block;
    padding: 1em 1.5% 2em 0;

}

a:link {
    color: #003300;
    text-decoration: none;
}

a:visited {
    color: #660066;
    text-decoration: none;
}

a:hover {
    color: #FF3300;
    text-decoration: none;
    cursor: pointer;
}

a:active {
    color: #FF3300;
    text-decoration: none;
    cursor: pointer;
}

section {
    width: 95%;
    padding-bottom:1%;
}

p~.videoWrapper{
    margin:1% auto;
}

.videoWrapper {
    position: relative;
    padding:25px 0 50% 0;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img{
    max-width:90%;
}

img:hover{
    transform:scale(1.25) rotate(360deg);
    transition: width 2s, height 2s, transform 2s;
}

.gallery{
    padding-left:1.2%;
}

.column-one{
    float: left;
    width: 33%;
}

.column-two{
    float: left;
    width: 33%;
}

.column-three{
    display: inline-block;
    width: 33%;
}

.clear {
    clear: both;
}

/*-------------------- Media Queries -------------------*/

/* Tablets (landscape) ----------- */
@media (max-width: 1024px) {

    h2:hover{
        transform:skew(0deg, 0deg);
        transition: transform 0s;
    }


    img{
        max-width:90%;
    }

    .column-one{
        float: left;
        width: 33%;
    }

    .column-two{
        float: left;
        width: 33%;
    }

    .column-three{
        display: inline-block;
        width: 33%;
    }

}

/* Tablets (portrait) ----------- */
@media (max-width: 725px) {

    h2:hover{
        transform:skew(0deg, 0deg);
        transition: transform 0s;
    }


    img{
        max-width:90%;
    }

    .column-one{
        float: left;
        width: 33%;
    }

    .column-two{
        float: left;
        width: 33%;
    }

    .column-three{
        display: inline-block;
        width: 33%;
    }

    img:hover{
        transform:scale(1) rotate(0deg);
        transition: width 0s, height 0s, transform 0s;
    }

}

/* Smartphones (landscape) ----------- */
@media (max-width: 450px) {

    h1{
        font-size:4em;
    }

    h2:hover{
        transform:skew(0deg, 0deg);
        transition: transform 0s;
    }

    section{
        padding-bottom:4%;
    }

    .column-one{
        float: none;
        width: 100%;
        text-align:center;
        padding-bottom:1%;
    }

    .column-two{
        float: none;
        width: 100%;
        text-align:center;
        padding-bottom:1%;
    }

    .column-three{
        width: 100%;
        text-align:center;
        padding-bottom:1%;
    }

    img:hover{
        transform:scale(1) rotate(0deg);
        transition: width 0s, height 0s, transform 0s;
    }

}

/* Smartphones (portrait) ----------- */
@media (max-width: 320px) {

    h2:hover{
        transform:skew(0deg, 0deg);
        transition: transform 0s;
    }

    .column-one{
        float: left;
        width: 100%;
    }

    .column-two{
        float: left;
        width: 100%;
    }

    .column-three{
        display: inline-block;
        width: 100%;
    }

    img:hover{
        transform:scale(1) rotate(0deg);
        transition: width 0s, height 0s, transform 0s;
    }
}