@charset "UTF-8";

/*-------------------- CSS Reset --------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------Main Styling--------*/

body {
    background: #000000 url(../images/wood-pattern.jpg);
    max-width: 90%;
    font-size: 1em;
    margin: 0 auto;
}

#wrapper {
    background-color: #ffffff;
    width:91.666666666666%;
    margin: 0 auto;
    overflow: hidden;
}

header{
    font-family: 'Amatic SC', cursive;
    color: #FF9900;
}

.headerImage{
    background:url(../images/vampire.png);
    max-width:100%;
}

h1{
    font-family: 'Uncial Antiqua', cursive;
    font-size: 3.5em;
    text-align:center;
    padding-top:1%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-family: 'Special Elite', cursive;
    color: #990000;
    padding:2% 0 2% 2%;
}

h1+h2{
    text-align:center;
    font-size:1.5em;
    padding-top:0;
}

p{
    text-indent:4%;
    padding-left:2%;
}

article p:last-of-type, article p:nth-of-type(3), article p:nth-of-type(4){
    padding-bottom:2%;
}

section {
    width: 95%;
    padding-bottom:1%;
}

/*--------Navigation--------*/

nav {
    width: 100%;
    float:left;
    padding-left:1%;
}

nav li {
    display: inline-block;
    padding: 1em 1.5% 2em 0;

}

a:link {
    color: #003300;
    text-decoration: none;
}

li:visited {
    color: #660066;
    text-decoration: none;
}

li:hover {
    color: #FF3300;
    text-decoration: none;
    cursor: pointer;
    transform:skew(-20deg, 0deg);
    transition: .5s;
}

a:active {
    color: #FF3300;
    text-decoration: none;
    cursor: pointer;
}

/*--------Button--------*/

.button {
    float:right;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin:1% 1% 0 0;
    padding: 1% 2%;
    border: 1px solid #a12727;
    border-radius: 20px;
    background: #000066;
    background: linear-gradient(to bottom, #000066, #992727);
    font: normal bold 20px georgia;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background: #ff5959;
    background: linear-gradient(to bottom, #992727, #000066);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #982727;
    background: linear-gradient(to bottom, #982727, #982727);
}
.button:after{
    display: inline-block;
    height: 3%;
    width: 2%;
    line-height: 3%;
}

/*--------Video--------*/


p~.videoWrapper{
    margin:1% auto;
}

.videoWrapper {
    position: relative;
    padding:3% 0 50% 0;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    margin-left: 2%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*--------Table--------*/


.movie-names{
    margin:0 auto;
}

th{
    font-size:1.5em;
}

table, th, td {
    border: 3px solid #990000;
    background-color:#000000;
    color:#ffffff;
    border-collapse: collapse;
    width:50%;
}

th, td {
    padding: 1.5%;
    text-align: center;
}

/*--------Sign Up Form--------*/


.firstName, .lastName, .email{
    padding-bottom:2%;
}

th:nth-child(n+1){
    background-color:#990000;
}

hr{
    border:1px solid #000000;
}

.register{
    max-width:80%;
    margin-left:2%;
}

fieldset{
    border: 4px double #43413B;
    color:#2F2C26;
    float:left;
    margin-bottom:1%;
    padding:1%;
}

/*--------Images--------*/

img{
    max-width:90%;
    padding:10% 2% 0 0;
}

img:hover{
    transform:scale(1.25) rotate(360deg);
    transition: width 2s, height 2s, transform 2s;
}

.gallery{
    text-align:center;
}

.column-one{
    float: left;
    width: 33%;
}

.column-two{
    float: left;
    width: 33%;
}

.column-three{
    display: inline-block;
    width: 33%;
}

/*--------Clear Floats--------*/

.clear {
    clear: both;
}

/*-------------------- Media Queries -------------------*/

@media (max-width: 1024px) {

    img{
        max-width:90%;
    }

    .column-one{
        float: left;
        width: 33%;
    }

    .column-two{
        float: left;
        width: 33%;
    }

    .column-three{
        display: inline-block;
        width: 33%;
    }

}

@media (max-width: 725px) {

    img{
        max-width:90%;
    }

    .column-one{
        float: left;
        width: 33%;
    }

    .column-two{
        float: left;
        width: 33%;
    }

    .column-three{
        display: inline-block;
        width: 33%;
    }

    img:hover{
        transform:scale(1) rotate(0deg);
        transition: width 0s, height 0s, transform 0s;
    }

    .movie-names{
        float:none;
        margin:0 auto;
        width:80%;
    }

}

@media (max-width: 450px) {

    .button{
        visibility: hidden;
    }

    h2:last-of-type{
        float:left;
    }

    #wrapper{
        padding:0;
        text-align:center;
    }

    .videoWrapper iframe{
        margin-left:2%;
    }

    h1{
        font-size:4em;
    }

    section{
        padding-bottom:4%;
    }

    .column-one{
        float: none;
        width: 100%;
        text-align:center;
        padding-bottom:1%;
    }

    .column-two{
        float: none;
        width: 100%;
        text-align:center;
        padding-bottom:1%;
    }

    .column-three{
        width: 100%;
        text-align:center;
        padding-bottom:1%;
    }

    img:hover{
        transform:scale(1) rotate(0deg);
        transition: width 0s, height 0s, transform 0s;
    }

    .movie-names{
        float:none;
        margin:0 auto;
        width:80%;
    }

    .register{
        text-align:left
    }

    fieldset{
        max-width:80%;
        margin:0 auto;
    }

}

@media (max-width: 320px) {
    
    .button{
        visibility: hidden;
    }

    #wrapper{
        padding:0;
        text-align:center;
    }

    .column-one{
        float: left;
        width: 100%;
    }

    .column-two{
        float: left;
        width: 100%;
    }

    .column-three{
        display: inline-block;
        width: 100%;
    }

    img:hover{
        transform:scale(1) rotate(0deg);
        transition: width 0s, height 0s, transform 0s;
    }

    .movie-names{
        float:none;
    }
}